.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

h1 {
color: white;
text-align: center;
}
input[type="text"]{
    padding: 10px 10px;
    width:500px;
    height: 50px;
}